extends layout

block append head
  link(rel="stylesheet" href="/public/css/account.css")

block content
  h2 Your Account
  h3 #{user.firstName} #{user.lastName}
  h3 Email address: #{user.email}
  h3 Phone number: #{user.phone}
  ul
    li
      a(href=jobsPath) scheduled jobs
    li
      a(href='/home') home page
    li
      a(href='/edit') edit your account details
