extends layout

block append head
  div(id="dataDiv", data-user=user)
  script(src="/public/js/account.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")
  link(rel="stylesheet" href="/public/css/home.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css")
  link(rel="stylesheet" href="/public/css/account.css")

block content
  .page
    div(class="page-header" id="header")
      .page-header-logo
        img(src= "/public/logo.svg" alt='taskdragon' style='width:150px; height:40px;')
      div(class="page-header-lisulo" id="account")
        a(href="/users/logout" id="logoutbox")
          span Log out
  #container1
    #container2
      #top2
        div Your Account
      #bottom2
        #left3
          div
            a(href='/users/edit') Edit profile details
          div
            a(href=`/jobs/${user.id}`) Scheduled Jobs
          div
            a(href='/home') Home
          div
            a(href='/users/delete') Deactivate
        #right3
          #top4
            div Account
          #bottom4
            #left5
              .picDiv
            #right5
              span
                i.fas.fa-user
                  span #{(user.firstName) ? user.firstName : ""} #{user.lastName}
              span
                i.fas.fa-envelope-square
                  span #{user.email}
              span
                i.fas.fa-phone
                  span #{(user.phone) ? user.phone : ""}
