extends layout

block content
  h2 Account details for #{user.firstName} #{user.lastName}
  h2 Email address: #{user.email}
  h2 Phone number: #{user.phone}
  ul
    li
      a(href=jobsPath) scheduled jobs
    li
      a(href='/home') home page
    li
      a(href='/edit') edit your account details
