extends layout

block append head
    div(id="dataDiv" data-userid=user.id)
    link(rel="stylesheet" href="/public/css/register.css")
    script(src="/public/js/edit.js" type="module" defer)

block content

    image(src="/public/background.svg", style="background-image: path('/public/background.svg')" class="background")
    div(id="mainDiv" class="mainDivSignup" style="top: 5%;")
      div(id="logo")
        a(href="/home")
          img(src= "/public/logo.svg" alt='taskdragon' style='width:300px; height:40px;')
      form(id="signup-form")
        input(type="hidden" name="_csrf" value=csrf)
        div(id="firstNameDiv")
          input(type="text" name="firstName" class="signUpInput input" value=`${(user.firstName) ? user.firstName : "First name"}`)
        div(id="lastNameDiv")
          input(type="text" name="lastName" class="signUpInput input" value=`${(user.lastName) ? user.lastName : "Last name"}` required)
        div(id="phoneNumberDiv")
          input(type="number" name="phone" class="signUpInput input" value=`${(user.phone) ? user.phone : "Phone number"}`)
        div(id="emailAddressDiv")
          input(type="email" name="email" class="signUpInput input" value=`${(user.email) ? user.email : "Email address"}` required)
        div(id="password1Div")
          input(type="password" name="password" class="signUpInput input" placeholder="Password" required)
        div(id="password2Div")
          input(type="password" name="password2" class="signUpInput input" placeholder="Confirm Password" required)
        ul#errors-container
        div(id="logInDiv")
          button(type="submit" class="signUpButton" class="signUpInput") Submit your changes
      div(id="cancelDiv")
        button(type="submit" class="cancelButton" class="signUpInput") Cancel
