extends layout

include include/auth-input.pug

block append head
  div(id="dataDiv", data-user=userId, data-name=name, data-email=email)
  script(src="/public/js/home.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")
  link(rel="stylesheet" href="/public/css/home.css")
  //- mixin img-bg(src, alt)
  //-   img.img-bg(
  //-   src=src,
  //-   style=`background-image: path('${src}')`,
  //-   alt=alt
  //-   )&attributes(attributes)

block content
  .page
    div(class="page-header" id="header")
      .page-header-logo
        img(src= "/public/logo.svg" alt='taskdragon' style='width:150px; height:50px;')
      div(class="page-header-lisulo" id="account")
        a(href="/users/logout" id="logoutbox")
          span Log out
        a(href="/users/register" id="register")
          button
            span(id="accountactions") Log in
    .page-banner
      .banner-img
        img(src= "/public/plague.svg" alt='taskdragon' style='width:50px; height:75px;')
      .banner-text-and-sub-text
        .banner-text
          span Seeth the latest on our response to the Bubonic Plague
        .sub-text
          span We require all task'rs to weareth beshrew masks

    .main-content
      .main-content-box
        h2 Help at which hour thee require, at thy fing'rtips
        span Receiveth help from thousands of trusted task'rs f'r ev'rything from weaving to contactless dragon slaying
        .jobtypeform
          form(id="jobtype-form")
            #errors-container
            .jobtypeform-innercontainer
              .jobtypeform-dropdown
                +authInput("", "jobtype")
                  select(id="home-dropdown" name="jobTypeId" required)
                    each jobType in jobTypes
                      option(value=jobType.id)= jobType.name
              .jobtypeform-footer
                button(type="submit")
                  span Receiveth help today
    //- .partnersreviews
    //-   .partnersreviews-reviews
    //-   .partnersreviews-partners

    .page-bottom
      h2 Popular projects in N'rthumbria
      #jobTypesContainer

    .page-footer
      h1 Team Members
      ul(class="icons")
        li
          p Nick Mallas:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/nmallas")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/nicholas-mallas")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nicholas-mallas-140630106/")
      ul(class="icons")
        li
          p Simon Carroll:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/voxsuperlynx1967")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/simon-carroll-2")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/simon-carroll-136168149/")
      ul(class="icons")
        li
          p Peter Knipp:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/pknipp")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/peter-a-knipp")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/peter-knipp-79370b1a6/")
      p.copyright &copy; TaskDragon 2020


  //- figure
  //- +img-bg(
  //-   "/public/background.svg",
  //-   "image"
  //- )
