extends layout


block append head
    div(id="dataDiv", data-userId=userId)
    script(src="/public/js/jobs.js" type="module" defer)
    link(rel="stylesheet" href="/public/css/jobs.css")

block content
    h1(id="pageTitle")
    div(class="sort")
        select(id="sort-button")
            option(name="default" value="0")= "sort by ..."
            option(name="date" value="1")= "Date"
            option(name="tasker" value="2")= "Tasker"
            option(name="price" value="3")= "Price"
    #jobsContainer
