extends layout


block append head
    div(id="dataDiv", data-userid=user.id, data-csrf=csrf, data-firstname=user.firstName)
    script(src="/public/js/jobs.js" type="module" defer)
    link(rel="stylesheet" href="/public/css/jobs.css")

block content
    div(class="page-header" id="header")
      .page-header-logo
        img(src= "/public/logo.svg" alt='taskdragon' style='width:150px; height:40px;')
      div(class="page-header-lisulo" id="account")
        a(href="/users/logout" id="logoutbox")
          span Log out
        a(href="/users/register" id="register")
          button
            span(id="accountactions") Log in
    h1(id="pageTitle")
    div(class="buttons")
        select(id="sort")
            option(name="default" value="0")= "sort by ..."
            option(name="date" value="1")= "Date"
            option(name="tasker" value="2")= "Tasker"
            option(name="price" value="3")= "Price"
        select(id="filter")
            option(name="all" value="0")= "Show all jobs"
            option(name="past" value="1")= "Show past jobs"
            option(name="future" value="2")= "Show future jobs"
    #jobsContainer
