extends layout


block append head
    div(id="dataDiv", data-jobtype=jobTypeId, data-user=userId, data-name=name, data-csrf=csrf)
    script(src="/public/js/taskers.js" type="module" defer)
    link(rel="stylesheet" href="/public/css/taskers.css")

block content
    div(class="page-header" id="header")
      .page-header-logo
        img(src= "/public/logo.svg" alt='taskdragon' style='width:150px; height:40px;')
      div(class="page-header-lisulo" id="account")
        a(href="/users/logout" id="logoutbox")
          span Log out
        a(href="/users/register" id="register")
          button
            span(id="accountactions") Log in
    h1(id="pageTitle")
    div(class="sort")
        select(id="sort-button")
            option(name="default" value="default")= "Recommended"
            option(name="pLow" value="pLow")= "Price (Lowest to Highest)"
            option(name="pHigh" value="pHigh")= "Price (Highest to Lowest)"
            option(name="skill" value="skill")= "Most Skilled"
    #taskersContainer
    .page-footer
      h1 Team Members
      ul(class="icons")
        li
          p Nick Mallas:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/nmallas")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/nicholas-mallas")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nicholas-mallas-140630106/")
      ul(class="icons")
        li
          p Simon Carroll:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/voxsuperlynx1967")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/simon-carroll-2")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/simon-carroll-136168149/")
      ul(class="icons")
        li
          p Peter Knipp:
        li
          a(class="fab fa-github icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://github.com/pknipp")
        li
          a(class="fab fa-angellist icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://angel.co/u/peter-a-knipp")
        li
          a(class="fab fa-linkedin icon fa-2x" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/peter-knipp-79370b1a6/")
      p.copyright &copy; TaskDragon 2020
