extends layout


block append head
    div(id="dataDiv", data-jobType=jobTypeId)
    script(src="/public/js/taskers.js" type="module" defer)
    link(rel="stylesheet" href="/public/css/taskers.css")

block content
    h1(id="pageTitle")
    div(class="sort")
        select(id="sort-button")
            option(name="default" value="default")= "Recommended"
            option(name="pLow" value="pLow")= "Price (Lowest to Highest)"
            option(name="pHigh" value="pHigh")= "Price (Highest to Lowest)"
            option(name="skill" value="skill")= "Most Skilled"
    #taskersContainer
